.row {
  @include row;

  &--full {
    @include clearfix;
  }
}

.col {
  @include col;

  &--full {
    float: left;
  }
}

@each $break, $value in $breakpoint-sizes {
  @include breakpoint($break) {
    @for $i from 1 through 12 {
      .col-#{$break}-#{$i} {
        width: percentage($i/12);
      }
    }
  }
}

@each $break, $value in $breakpoint-sizes {
  @include breakpoint($break) {
    @for $i from 1 through 12 {
      .col-#{$break}-push-#{$i} {
        left: percentage($i/12);
      }
    }
  }
}
@each $break, $value in $breakpoint-sizes {
  @include breakpoint($break) {
    @for $i from 1 through 12 {
      .col-#{$break}-pull-#{$i} {
        right: percentage($i/12);
      }
    }
  }
}
