*,
*:after,
*:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  @include font-stack;
  min-height: 2000px;
}
